<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
     <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
       <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <title>Todo App</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper brown lighten-2">
          <a href="{{url_for('index')}}" class="brand-logo center">{{page}}</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('addtodo')}}">Add Todo</a></li>
          </ul>
        </div>
      </nav>
    {%  block body %}
    {%  endblock %}
</body>
</html>